.root
  .item
    a(@click="func1") Function 1
  .item
    a(@click="func2") Function 2
  .item
    a.name(@click="func3") Function 3
  .item
    a.name(@click="func4") Function 4
  .item
    a.name(@click="func5") Function 5
